$bg: #ececec;
$teal: #53cbdc;
$purple: #b7739d;

$sans-serif:'Nunito', sans-serif;
$serif:'Abril Fatface', cursive;

body {
    
    background:$bg;
    font-size:1em;
    font-family:$sans-serif;
    
}

// Boilerplate code

.ir {

  display:block;
  text-indent:200%;
  white-space:nowrap;
  overflow:hidden;

}

* {
  box-sizing:border-box;
}

img {

  max-width:100%;
  height:auto;

}

.row {
  margin:0;
}

@mixin flexbox() {
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap:wrap;
  flex-wrap:wrap;
}
