$bg: #ececec;
$teal: #53cbdc;
$purple: #b7739d;
$primary: $teal;
$secondary: $purple;
$primary-lighter:#16decc;

$sans-serif:'Nunito', sans-serif;
$serif:'Abril Fatface', cursive;
$font-body:$serif;
$text-color:#111;

body {
    
  background:$bg;
  font-size:1em;
  font-family:$sans-serif;
  overflow-x:hidden;
    
}

// Boilerplate code

.ir {

  display:block;
  text-indent:200%;
  white-space:nowrap;
  overflow:hidden;

}

* {
  box-sizing:border-box;
}

img {

  max-width:100%;
  height:auto;

}

.row {
  margin:0;
}

@mixin flexbox() {
  display:-ms-flexbox;
  display:flex;
  -ms-flex-wrap:wrap;
  flex-wrap:wrap;
}

@mixin gradient($color1, $color2){
  background:linear-gradient(
      to right, 
      $color1, $color2
    );
}
