footer {

  background:#333;
  font-size:16px;
  padding-top:10px;
  padding-bottom:10px;
  text-align:center;
  
  .mobile-block {
    
    display:block;
    opacity:0;
    visibility:hidden;
    height:0;
    
    @media (min-width:768px){
      display:inline-block;
      margin-left:10px;
      margin-right:10px;
      visibility:visible;
      height:auto;
      opacity:1;
    }
    
  }

  p {
    margin-bottom:0;
    color:#fff;
  }
  
  a {
    color:#fff;
  }

}
