// Header

header {

  position:relative;

}

h1.title, h2.title {

  position:relative;
  width:280px;
  height:90px;
  display:block;
  margin:0 auto;
  z-index:1;
  margin-bottom:40px;

  a {

    height:inherit;
    width:inherit;
    background-image:url(../img/logo-placeholder.png);
    background-size:contain;
    background-repeat:no-repeat;
    background-position: center;
    font-size:0;

  }
  
  @media (min-width:992px){
    
    margin-left:0;
    margin-top:20px;
    margin-bottom:25px;
    display:inline-block;
    
  }
  
}