body {
    
    background:$bg;
    font-size:1em;
    font-family:$sans-serif;
    
}

a {
    
    transition:0.3s;
    
    &:hover, &:active, &:focus {
        text-decoration: none;
        color:$purple;
    }
    
}