.title-bar {
  
  padding-top:20px;
  padding-bottom:20px;
  background:$primary;
  
  .container {
    text-align:center;
  }
  
  h2 {
    
    text-transform: uppercase;
    color:#fff;
    margin-bottom:0;
    
  }
  
  @media (min-width:768px){
    
    padding-top:50px;
    padding-bottom:50px;
    
  }
  
}