.title-bar {
  
  padding-top:20px;
  padding-bottom:20px;
  @include gradient($primary,$primary-lighter);
  
  .container {
    text-align:center;
  }
  
  h2 {
    
    text-transform: uppercase;
    color:#fff;
    margin-bottom:0;
    text-shadow:0 1px 2px rgba(0,0,0,0.2);
    
  }
  
  @media (min-width:768px){
    
    padding-top:50px;
    padding-bottom:50px;
    
  }
  
}